# Ignore node_modules directory
node_modules/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variable files
.env
.nav

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/
.idea/
